<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">    
     <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>com.example.ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>ViewProductServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class> AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class> ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/viewProducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>ShowProductServlet</servlet-name>
        <servlet-class>ShowProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProductServlet</servlet-name>
        <url-pattern>/ShowProduct</url-pattern>
    </servlet-mapping>
</web-app>

